<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('首页')"/>
</head>
<body class="white-bg">
<div class="col-md-12">
    <!-- 上方页面 -->
    <div class="col-md-12">
        <div th:name="logo">
            <img src="/scau/index.jpg" class="img-responsive center-block" alt="logo">
        </div>
    </div>

    <!-- 分割线 -->
    <div class="clear col-md-12 wrapper">
        <br>
        <hr class="style-two">
        <br><br>
        <div class="wrapper" name="profile">
            <h3 style="text-align: center; "><b>精品课程网站</b></h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 9px;">&nbsp;<span
                    style="font-size: 14px;">精品课程是具有</span></span><span
                    style="background-color: rgb(255, 255, 0); font-size: 14px;">一流教师队伍</span><span
                    style="font-size: 14px;">、</span><span style="background-color: rgb(255, 255, 0); font-size: 14px;">一流教学内容</span><span
                    style="font-size: 14px;">、</span><span style="background-color: rgb(255, 255, 0); font-size: 14px;">一流教学方法</span><span
                    style="font-size: 14px;">、</span><span style="background-color: rgb(255, 255, 0); font-size: 14px;">一流教材</span><span
                    style="font-size: 14px;">、</span><span style="background-color: rgb(255, 255, 0); font-size: 14px;">一流教学管理</span><span
                    style="font-size: 14px;">等特点的示范性课程；是高等学校教学质量与教学改革工程的重要组成部分。分校、省、国家三级精品课程。</span></p>
            <p><span style="font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为贯彻落实<u>党的十六大精神，实践"三个代表"重要思想</u>，切实推进教育创新，深化教学改革，促进现代信息技术在教学中的应用，共享优质教学资源，进一步促进教授上讲台，全面提高教育教学质量，造就数以千万计的专门人才和一大批拔尖创新人才，提升我国高等教育的综合实力和国际竞争能力，教育部决定</span><b><span
                    style="font-size: 14px;">在全国高等学校(包括高职高专院校)中启动高等学校教学质量与教学改革工程精品课程建设工作</span></b><span
                    style="font-size: 14px;">。</span><br></p>
        </div>
    </div>

    <!-- 中间容器 -->
    <div class="col-md-12 container center-in-center wrapper">
        <!-- 左侧列表 -->
        <div class="col-md-4 wrapper">
            <ul class="list-group">
                <li th:each="year : ${years}" th:value="${year}" th:name="${year}"
                    class="list-group-item">
                    <a th:onclick="showCourse([[${year}]]);"> <span
                            th:text="${year} + '年精品课程'"></span></a>
                </li>
            </ul>
        </div>

        <!-- 中间表格 -->
        <div class="col-md-8">
            <div class="wrapper table-striped row" name="tableDiv" id="tableDiv">
                <h2 th:text="${courseList[0].getYear()} + '年精品课程'" name="courseTitle" id="courseTitle"></h2>
                <table class="bootstrap-table table table-hover" name="courseTable" id="courseTable">
                    <thead>
                    <tr>
                        <th>课程名称</th>
                        <th>负责人</th>
                        <th>所属院系</th>
                    </tr>
                    </thead>
                    <tbody name="tableBody" id="tableBody">
                    <th:block th:each="course : ${courseList}">
                        <tr>
                            <td><a th:href="@{/course/main(id=${course.id})}" th:text="${course.name}"></a></td>
                            <td th:text="${course.principal}"></td>
                            <td th:text="${course.college}"></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
    <!-- 下方footer -->
    <div class="col-md-12">
        <div id="footer" class="foot" role="contentinfo">
            <br>
            <br>
            <div><p>版权所有&nbsp;&nbsp;©&nbsp;&nbsp;华南农业大学</p>
                <p>技术支持：orypeu</p></div>
            <br>
            <br>
            <div style="display:none;">52</div>
        </div>
    </div>
</div>

<th:block th:include="include :: footer"/>

<script>
    function showCourse(year) {
        // alert(year);
        $("#tableBody").empty();
        var courseYear = {
            year: year,
        };

        //根据课程
        $.ajax({
            type: "POST",
            dateType: "json",
            contentType: 'application/json',
            url: '/coursesInYear',
            data: JSON.stringify(courseYear),
            success: function (data) {
                if (data.length != 0) {//绑定的栏目显示
                    document.getElementById("courseTitle").innerHTML = data[0].year + "年精品课程";
                    for (var i = 0; i < data.length; i++) {
                        $("#tableBody").append("<tr><td><a href='/course/main?id=" + data[i].id + "'>" + data[i].name + "</a></td>"
                            + "<td>" + data[i].principal + "</td>" + "<td>" + data[i].college + "</td></tr>");
                    }
                } else {
                    alert("出错了！")
                    return;
                }
            }
        });
    }
</script>
<script>
    function getCourse(year) {
        var courseYear = {
            year: year,
        };

        //根据课程id发送一个ajax查询，获取相应的栏目信息
        $.ajax({
            type: "POST",
            dateType: "json",
            contentType: 'application/json',
            url: '/coursesInYear',
            data: JSON.stringify(courseYear),
            success: function (data) {
                if (data.length != 0) {
                    return data;
                } else {
                    alert("获取数据出错了！")
                    return;
                }
            }
        });
    }
</script>
</body>
</html>