<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>后台登陆</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <style>
        body {
            background-color: #eee;
        }
    </style>
</head>
<body>
<div>
    <div>
        <h1 class="page-header text-center">精品课程网站后台登陆</h1>
        <div class="col-md-4 col-md-offset-5" style="margin-top: 150px">
            <form role="form">
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">账号</label>
                    <div>
                        <input name="username" type="username" id="username" placeholder="userName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">密码</label>
                    <div>
                        <input name="password" type="password" id="password" placeholder="password">
                    </div>
                </div>
            </form>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="submit" class="btn btn-primary btn-block" onclick="submit()">
                        登录
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/jquery/jquery.js"></script>
<script th:inline="javascript">
    function submit() {
        var username = $("#username").val();
        var password = $("#password").val();
        var user = {
            username: username,
            password: password,
        };
        console.log(user);
        $.ajax({
            type: "POST",
            dateType: "json",
            contentType: 'application/json',
            url: "/login",
            data: JSON.stringify(user),
            success: function (data) {
                alert("登陆成功");
                window.location.href = "/course/list";
            },
            error: function (e) {
                alert("登陆失败：" + e);
                window.location.href = "/admin";
            }
        });
    }
</script>
</body>
</html>