<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orypeu.excellent_course.course.mapper.CourseMapper">

    <select id="selectYears" resultType="java.time.Year">
        SELECT DISTINCT
	        `year`
        FROM
	        `course`
        ORDER BY
	        `year` ASC
    </select>

</mapper>
